<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>cellImageView</key>
			<string>lixian_22x22_</string>
			<key>cellTextLabel</key>
			<string>离线缓存</string>
			<key>cellDetailLabel</key>
			<string></string>
			<key>accessoryImageView</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>cellImageView</key>
			<string>mineVip_22x22_</string>
			<key>cellTextLabel</key>
			<string>VIP购买</string>
			<key>cellDetailLabel</key>
			<string>30/月 258/年</string>
			<key>accessoryImageView</key>
			<string></string>
		</dict>
		<dict>
			<key>cellImageView</key>
			<string>fcode_22x22_</string>
			<key>cellTextLabel</key>
			<string>我的F码</string>
			<key>cellDetailLabel</key>
			<string></string>
			<key>accessoryImageView</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>cellImageView</key>
			<string>mineMain_22x22_</string>
			<key>cellTextLabel</key>
			<string>我的主页</string>
			<key>cellDetailLabel</key>
			<string></string>
			<key>accessoryImageView</key>
			<string></string>
		</dict>
		<dict>
			<key>cellImageView</key>
			<string>mineFri_22x22_</string>
			<key>cellTextLabel</key>
			<string>我的好友</string>
			<key>cellDetailLabel</key>
			<string></string>
			<key>accessoryImageView</key>
			<string></string>
		</dict>
		<dict>
			<key>cellImageView</key>
			<string>mineZan_22x22_</string>
			<key>cellTextLabel</key>
			<string>我的赞</string>
			<key>cellDetailLabel</key>
			<string></string>
			<key>accessoryImageView</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>cellImageView</key>
			<string>mineMess_22x22_</string>
			<key>cellTextLabel</key>
			<string>我的消息</string>
			<key>cellDetailLabel</key>
			<string></string>
			<key>accessoryImageView</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>cellImageView</key>
			<string>mineTask_22x22_</string>
			<key>cellTextLabel</key>
			<string>我的任务</string>
			<key>cellDetailLabel</key>
			<string></string>
			<key>accessoryImageView</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>cellImageView</key>
			<string>accountSet_22x22_</string>
			<key>cellTextLabel</key>
			<string>账号设置</string>
			<key>cellDetailLabel</key>
			<string></string>
			<key>accessoryImageView</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
